<!DOCTYPE html>
<html>
  <head>
    <title>Do Contra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |name, msg| %>
    <% content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
  

    <%= yield %>
  </body>
</html>
